{{ $allphotos := sort (where .Site.Pages "Section" "posts") "Date" "desc" }}
{{ $lastphoto := (index $allphotos 0) }}
{{ $allmonths := sort (where .Site.Pages "Section" "months") "Date" "asc" }}
<article class="thumbs thumbs--months">
    {{ range $allmonths }}
    {{ if (and .IsPage (ge $lastphoto.Date .Date )) }}

    {{ $posterdatestr := ( default .Date .Params.posterdate ) }}
    {{ $posterdate := (time $posterdatestr) }}

    {{ $photo := (index (where (where .Site.Pages "Section" "posts") "Date" $posterdate ) 0 ) }}

    {{ $widths := (dict "32" 144 "43" 144 "23" 96 "34" 108 ) }}
    {{ $heights := (dict "32" 96 "43" 108 "23" 144 "34" 144 ) }}
    {{ $width := (index $widths (printf "%d" $photo.Params.aspectratio) ) }}
    {{ $height := (index $heights (printf "%d" $photo.Params.aspectratio) ) }}
    <figure class="thumb thumb--{{ $photo.Params.aspectratio }}">
        <a href="{{ .RelPermalink }}">
            <img srcset='/photos/{{ dateFormat "2006-01-02" $photo.Date }}-144.jpg 144w,
	/photos/{{ dateFormat "2006-01-02" $photo.Date }}-288.jpg 288w,
	/photos/{{ dateFormat "2006-01-02" $photo.Date }}-576.jpg 576w' sizes="(max-width: 50em) 90vw,
	960px" src='/photos/{{ dateFormat "2006-01-02" $photo.Date }}-288.jpg' alt="" width="{{ $width }}"
                height="{{ $height }}" />
        </a>
        <figcaption>
            <p class="thumb__title">{{ dateFormat "January" $photo.Date }}</p>
        </figcaption>
    </figure>
    {{ end }}
    {{ end }}
</article>