$body-text-color: #444;
$header-text-color: #444;
$banner-text-color: #444;
$slug-text-color: #666;
$copyright-text-color: #666;

$section-rule-color: #BBB;

$color-tagset-background: #666;
$color-tagset-text: #EEE;
$color-tagset-text-hover: #FFF;

$color-anchor: #736c5c;
$color-anchor-hover: darken(#736c5c, 20);
$color-anchor-active: darken(#736c5c, 20);
$color-anchor-visited: darken(#736c5c, 20);

$calendar-inactive-background-color: #CCC;
$calendar-active-background-color: #666;

$color-background: #EAEAEA;
$color-text: #111;

$color-text-muted: #555;