$font-family-banner-title: $font-stack-headings;
$font-family-banner-subtitle: $font-stack-body;

$font-weight-banner-title: $font-weight-headings;
$font-weight-banner-subtitle: $font-weight-body;

$font-family-page-title: $font-stack-headings;
$font-weight-page-title: $font-weight-headings;