.banner {
    padding: 0 0 0 1em;
    text-align: center;

    .banner__title {
        margin-top: 1em;
        font-size: unquote("clamp(2rem, 5vw + 1rem, 4.5rem)");
        font-family: $font-family-banner-title;
        font-weight: $font-weight-banner-title;
        padding: 0 0.5em;
        line-height: 0.8em;

        a {
            text-decoration: none;
            color: $header-text-color;
        }
    }

    .banner__subtitle {
        margin: 0;
        padding: 0 0.25em;
        font-size: unquote("clamp(0.813rem, 4vw - 1rem, 1.5rem);");
        font-family: $font-family-banner-subtitle;
        font-weight: $font-weight-banner-subtitle;
        text-transform: lowercase;
    }
}